@model string

@{
    ViewData["Title"] = "Home Page";
}

@{var userName = string.IsNullOrEmpty(Model) ? string.Empty : $", {Model}!";}

<div class="text-center">
    <h1 class="display-4">Welcome @userName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
